<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-white">
            <!-- Header -->
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                  <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                    <h3 class="font-semibold text-base text-blueGray-700">Authority List</h3>
                  </div>
                  <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <button
                        class="bg-indigo-500 text-white active:bg-indigo-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button"
                        (click)="openCreateAuthorityModal()"
                    >
                        <i class="fa-solid fa-plus"></i> Create new
                    </button>
                  </div>
                </div>
            </div>
            <!-- List -->
            <div class="block w-full overflow-x-auto">
                <table class="items-center w-full bg-transparent border-collapse">
                    <thead>
                        <tr>
                            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                                ngClass="bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                                Authority name
                            </th>
                            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                                ngClass="bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                                Edit
                            </th>
                            <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                                ngClass="bg-blueGray-50 text-blueGray-500 border-blueGray-100">
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tr *ngFor="let authority of authorities; let index = index;">
                        <td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-bold">
                            {{authority?.authorityname}}
                        </td>
                        <td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-bold">
                            <button 
                                class="font-bold rounded-md border border-gray-300 bg-white px-4 py-2 text-xs text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                                type="button"
                                (click)="openEditAuthorityModal(authority?.authorityname)">
                                <i class="fa-solid fa-pen-to-square"></i> Edit 
                            </button>
                        </td>
                        <td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-bold">
                            <button 
                                class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
                                type="button"
                                (click)="openDeleteAuthorityModal(authority?.authorityname)">
                                <i class="fa-solid fa-trash"></i> Delete
                            </button>
                        </td>
                </table>
            </div>
        </div>
    </div>

    <!-- START Create Modal -->
    <div *ngIf="createAuthorityModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-30 outline-none focus:outline-none justify-center items-center flex"
    style="width: 800px !important;">
        <div class="relative w-80 my-6 mx-auto max-w-3xl" style="width: 800px !important;">
            <!--content-->
            <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none" >
                <!--header-->
                <div class="flex items-start justify-between p-4 border-b border-solid border-blueGray-200 rounded-t">
                    <h3 class="text-lg font-semibold">
                        Create New Authority
                    </h3>
                    <button
                        class="ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                        (click)="closeCreateAuthorityModal()">
                        <span
                            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                            ×
                        </span>
                    </button>
                </div>
                <form [formGroup]="createAuthorityForm" (ngSubmit)="createAuthority()" >
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <!--body-->
                    <div class="bg-white p-4 sm:p-6 sm:pb-4">
                        <div class="relative w-full mb-3">
                            <label
                              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                              htmlFor="grid-password"
                            >
                              Authority name
                            </label>
                            <input
                              type="text"
                              class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full"
                              placeholder="Authority name"
                              formControlName="authorityname"
                            />
                            <span class="inline-block align-middle mr-8 text-red-600" *ngIf="createAuthorityForm.get('authorityname').dirty&&!createAuthorityForm.get('authorityname').valid">
                              This field is required.   
                            </span>
                        </div>
                    </div>
                    <!-- footer -->
                    <div class="flex items-center justify-end border-t border-solid border-blueGray-200 rounded-b p-2">
                        <button
                            class="font-medium rounded-md border border-gray-300 bg-white px-4 py-2 text-base text-gray-700 shadow-sm 
                            hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                            type="button" (click)="closeCreateAuthorityModal()" style="margin-right: 10px !important;">
                            Close
                        </button>
                        <button
                            class="font-medium rounded-md border border-transparent bg-green-600 px-4 py-2 text-base text-white shadow-sm hover:bg-green-700 
                            focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                            type="submit" style="background-color: rgb(34 197 94) !important;"
                            [disabled]="!createAuthorityForm.valid">
                            Save
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="createAuthorityModal" class="opacity-25 fixed inset-0 z-30 bg-black"></div>
    <!-- END Create Modal -->

    <!-- START Delete Modal -->
    <div *ngIf="deleteAuthorityModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-30 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-auto my-6 mx-auto max-w-3xl">
            <!--content-->
            <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex items-start justify-between p-4 border-b border-solid border-blueGray-200 rounded-t">
                    <h3 class="text-lg font-semibold">
                        Delete Authority
                    </h3>
                    <button
                        class="ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                        (click)="closeDeleteAuthorityModal()">
                        <span
                            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                            ×
                        </span>
                    </button>
                </div>
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <!--body-->
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                          <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v3.75m-9.303 3.376C1.83 19.126 2.914 21 4.645 21h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 4.88c-.866-1.501-3.032-1.501-3.898 0L2.697 17.626zM12 17.25h.007v.008H12v-.008z" />
                            </svg>
                          </div>
                          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Delete authority</h3>
                            <div class="mt-2">
                              <p class="text-sm text-gray-500">Are you sure you want to delete this authority? All of his data will be permanently removed. This action cannot be undone.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- footer -->
                    <div class="flex items-center justify-end border-t border-solid border-blueGray-200 rounded-b p-2">
                        <button
                            class="font-medium rounded-md border border-gray-300 bg-white px-4 py-2 text-base text-gray-700 shadow-sm 
                            hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                            type="button" (click)="closeDeleteAuthorityModal()" style="margin-right: 10px !important;">
                            Close
                        </button>
                        <button 
                            class="font-medium rounded-md border border-transparent bg-red-600 px-4 py-2 text-base text-white shadow-sm hover:bg-red-700 
                            focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                            type="button" (click)="deleteAuthority()" >
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="deleteAuthorityModal" class="opsacity-25 fixed inset-0 z-30 bg-black"></div>
    <!-- END Delete Modal -->

    <!-- START Edit Modal -->
    <div *ngIf="editAuthorityModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-30 outline-none focus:outline-none justify-center items-center flex"
    style="width: 800px !important;">
        <div class="relative w-80 my-6 mx-auto max-w-3xl" style="width: 800px !important;">
            <!--content-->
            <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none" >
                <!--header-->
                <div class="flex items-start justify-between p-4 border-b border-solid border-blueGray-200 rounded-t">
                    <h3 class="text-lg font-semibold">
                        Edit Authority
                    </h3>
                    <button
                        class="ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                        (click)="closeEditAuthorityModal()">
                        <span
                            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                            ×
                        </span>
                    </button>
                </div>
                <form [formGroup]="editAuthorityForm" (ngSubmit)="editAuthority()" >
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <!--body-->
                    <div class="bg-white p-4 sm:p-6 sm:pb-4">
                        <div class="relative w-full mb-3">
                            <label
                              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                              htmlFor="grid-password"
                            >
                              Authority name
                            </label>
                            <input
                              type="text"
                              class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full"
                              placeholder="Role name"
                              formControlName="authorityname"
                              [ngModel]="authorityname"
                            />
                            <span class="inline-block align-middle mr-8 text-red-600" *ngIf="editAuthorityForm.get('authorityname').dirty&&!editAuthorityForm.get('authorityname').valid">
                              This field is required.   
                            </span>
                        </div>
                    </div>
                    <!-- footer -->
                    <div class="flex items-center justify-end border-t border-solid border-blueGray-200 rounded-b p-2">
                        <button
                            class="font-medium rounded-md border border-gray-300 bg-white px-4 py-2 text-base text-gray-700 shadow-sm 
                            hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                            type="button" (click)="closeEditAuthorityModal()" style="margin-right: 10px !important;">
                            Close
                        </button>
                        <button
                            class="font-medium rounded-md border border-transparent bg-green-600 px-4 py-2 text-base text-white shadow-sm hover:bg-green-700 
                            focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                            type="submit" style="background-color: rgb(34 197 94) !important;"
                            [disabled]="!editAuthorityForm.valid">
                            Save
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="editAuthorityModal" class="opacity-25 fixed inset-0 z-30 bg-black"></div>
    <!-- END Edit Modal -->

</div>
